{% extends "layout.html" %}
{% block content %}

<section class="section">

{% if username %}

<div class="columns">

<div class="column is-5">

            {% if similarities %}

        <table class="table is-striped is-hoverable">
            <thead>
                <h2 class="title is-4">Similar Users to {{username.data[0].name}} </h2>
            </thead>
            <th>Name</th>
            <th>Similarity</th>
            <tbody>
            {% for sim in similarities %}
           <tr>
           <td>{{ sim[1] }}</td>
           <td>{{ sim[0] }}</td>
           </tr>
           {% endfor %}
            </tbody>
        </table>

            {% else %}
              <p>Couldn't retrieve data</p>
            {% endif %}
</div><!-- column is-5 -->

<div class="column is-5">

        {% if recommended_movies %}
        <table class="table is-striped is-hoverable">
            <thead>
                <h2 class="title is-4">Top recommendations for {{ username.data[0].name }}</h2>
            </thead>
            <th>Movie</th><th>Score</th>
            <tbody>
            {% for row in recommended_movies %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[0] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Couldn't retrieve data</p>

        {% endif %}
        {% endif %}

</div><!-- column is-5 -->

</div> <!-- columns -->
</section>
{% endblock %}
