{% extends "layout.html" %}
{% block content %}

<div class="row">
    <h1>Ratings</h1>
    <h2>All Ratings</h2>
    <div>

        {% if ratings %}

<table>
    <th>User Id</th>
    <th>Movie</th>
    <th>Rating</th>
          {% for rating in ratings.ratings %}
    <tr>
      <td>{{rating[0]}}</td>
      <td>{{rating[1]}}</td>
      <td>{{rating[2]}}</td>
    </tr>
  {% endfor %}
</table>

        {% else %}
          <p>Couldn't retrieve data</p>
        {% endif %}

        </div>
        {% endblock %}
